.users-header {

    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-bottom: 25px;

}

.users-header h2 {

    font-size: 30px;

    margin-bottom: 5px;

    color: #111827;

}

.users-header p {

    color: #6b7280;

}

.add-btn {

    background: #2563eb;

    color: white;

    border: none;

    padding: 12px 22px;

    border-radius: 10px;

    cursor: pointer;

    display: flex;

    align-items: center;

    gap: 10px;

    font-weight: 600;

    transition: .3s;

}

.add-btn:hover {

    background: #1d4ed8;

    transform: translateY(-2px);

}

.search-container {

    position: relative;

    margin-bottom: 25px;

}

.search-container input {

    width: 100%;

    padding: 14px 20px 14px 48px;

    border: 1px solid #d1d5db;

    border-radius: 12px;

    font-size: 15px;

    outline: none;

}

.search-container input:focus {

    border-color: #2563eb;

    box-shadow: 0 0 0 4px rgba(37, 99, 235, .1);

}

.search-icon {

    position: absolute;

    left: 18px;

    top: 16px;

    color: #6b7280;

}

.table-container {

    background: white;

    border-radius: 16px;

    overflow: hidden;

    box-shadow: 0 8px 20px rgba(0, 0, 0, .08);

}

.users-table {

    width: 100%;

    border-collapse: collapse;

}

.users-table thead {

    background: #2563eb;

    color: white;

}

.users-table th {

    padding: 18px;

    text-align: left;

    font-size: 15px;

}

.users-table td {

    padding: 18px;

    border-bottom: 1px solid #e5e7eb;

}

.users-table tbody tr:hover {

    background: #f8fafc;

}

.role {

    background: #eff6ff;

    color: #2563eb;

    padding: 6px 12px;

    border-radius: 20px;

    font-size: 13px;

    font-weight: 600;

}

.status {

    padding: 6px 14px;

    border-radius: 20px;

    font-size: 13px;

    font-weight: 600;

}

.active {

    background: #dcfce7;

    color: #15803d;

}

.inactive {

    background: #fee2e2;

    color: #dc2626;

}

.edit-btn {

    width: 38px;

    height: 38px;

    border: none;

    border-radius: 8px;

    background: #f59e0b;

    color: white;

    cursor: pointer;

    margin-right: 10px;

}

.delete-btn {

    width: 38px;

    height: 38px;

    border: none;

    border-radius: 8px;

    background: #ef4444;

    color: white;

    cursor: pointer;

}

.loading {

    text-align: center;

    padding: 35px;

    font-size: 18px;

    color: #6b7280;

}